<template>
  <v-container class="mt-4  pr-4">
    <v-row>
      <v-col cols="12">
        <v-card class="transparent elevation-0">
        	<v-card-title>
	          <v-spacer></v-spacer>
	          <span class="text-subtitle-1">
	            <strong>Reservación</strong>
	          </span>
	          <v-spacer></v-spacer>
            <v-btn
              color="primary"
              dark
              class="text-capitalize"
              @click="initialize()"
              small
              tile
            >
              <v-icon small>mdi-refresh</v-icon>
            </v-btn>
	        </v-card-title>

          <v-card-text>
	          <v-row>

	            <v-col cols="12">
	              <v-text-field
	                v-model="fecha"
	                append-outer-icon="mdi-skip-next-circle"
	                prepend-icon="mdi-skip-previous-circle"
	                filled
	                readonly
	                label="Fecha"
	                type="date"
	                @click:append-outer="nextDay"
	                @click:prepend="previousDay"
	              ></v-text-field>
	            </v-col>
	            
	            <v-alert
	              dense
	              outlined
	              type="warning"
	              v-if="!progra.length"
	            >
	              No existen clases programadas para este día!
	            </v-alert>

	            <v-col cols="12" md="6" lg="3" xl="2" v-for="(clase, i ) in progra" :key="i">
	              <v-card class="shadowCard">
	                <v-card-text class="px-0">
	                  <v-list-item three-line>
	                    <v-list-item-content>
	                      <div class="text-overline mb-4">
	                        <v-chip :color="clase.color" small dark> {{ clase.categoria }} </v-chip>
	                      </div>
	                      <v-list-item-title class="text-h6 mb-1">
	                        {{ clase.hora_inicio.substr(0,5) + ' a ' + clase.hora_fin.substr(0,5) }}
	                      </v-list-item-title>
	                    </v-list-item-content>

	                    <v-list-item-avatar
	                      tile
	                      size="80"
	                      color="transparent"
	                    >
	                      <v-avatar
	                        size="80"
	                        color="grey"
	                      >
	                        <img :src="url + clase.foto" />
	                      </v-avatar>
	                    </v-list-item-avatar>


	                  </v-list-item>

	                  <div class="px-4">
	                    <strong>{{ clase.nombre_completo }}</strong>
	                    <br/>
	                    {{ clase.detalles }}
	                  </div>

	                </v-card-text>
	                <v-card-actions>
	                  <v-spacer></v-spacer>
	                  <v-btn 
                      v-if="clase.estado_clase == 'Activa'"
                      color="green"
                      tile
                      block
                      dark
                      outlined
                      @click="generarQRCode(clase)"
                    >
                      Activa
                      <v-icon right>mdi-calendar</v-icon>
                    </v-btn>

                    <v-btn 
                      v-if="clase.estado_clase == 'Por iniciar'"
                      color="warning"
                      tile
                      block
                      dark
                      outlined
                      @click="generarQRCode(clase)"
                    >
                      Por iniciar
                      <v-icon right>mdi-calendar</v-icon>
                    </v-btn>

                    <v-btn 
                      v-if="clase.estado_clase == 'Vencida'"
                      color="grey"
                      tile
                      block
                      dark
                      outlined
                    >
                      Terminada
                      <v-icon right>mdi-calendar</v-icon>
                    </v-btn>
	                </v-card-actions>
	              </v-card>
	            </v-col>
	          </v-row>
	        </v-card-text>

        </v-card>
      </v-col>
    </v-row>

    <!-- Dialogo de editar o agregar-->
    <v-dialog
      v-model="dialog"
      max-width="400px"
      persistent
    >
      <v-card>
        <v-card-title>
        </v-card-title>

        <v-card-text class="text-h5 text-center">
          ¿Estás seguro de realizar está reservación?
        </v-card-text>

        <v-card-actions>
          <v-btn color="yellow" small tile @click="dialog = false">
            Cancelar
            <v-icon small right>mdi-cancel</v-icon>
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="green" dark small tile @click="saveReservacion()">
            Sí
            <v-icon small right>mdi-check</v-icon>
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <!-- Dialogo de editar o agregar-->
    <v-dialog
      v-model="dialogQr"
      max-width="400px"
      persistent
    >
      <v-card>
        <v-card-title>
        </v-card-title>

        <v-card-text class="text-h5 text-center">
          <v-img :src="qrImagen"></v-img>
        </v-card-text>

        <v-card-actions>
          <v-alert
			      dense
			      outlined
			      type="info"
			    >
			      Pasa el codigo QR por la cámara para tomar tu asistencia!
			    </v-alert>
        </v-card-actions>
        <v-btn 
          color="transparent elevation-0"
          x-small
          absolute
          top
          right
          fab
          class="mt-5 mr-0"
          @click="dialogQr = false"
         ><v-icon>mdi-close</v-icon>
        </v-btn>

      </v-card>
    </v-dialog>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>
<script>
  import { mapGetters } from 'vuex'
  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  import validarErrores        from '@/mixins/validarErrores'
  import funcionesExcel        from '@/mixins/funcionesExcel'

	import QRCode from 'qrcode';

  export default {

    mixins: [ validarErrores, funcionesExcel ],

    components:{
      Alerta,
      carga,
    },

    data: () => ({
      // Alertas
      parametros:{
        dialogError: false,
        mensaje: '',
        color: ''
      },

      respuestaAlerta:false,
      loader: true,
      cargar: false,

      dialog: false,
      dialogDelete: false,
      
      editedIndex: -1,

      editedItem: {
        idpaquetes:0,
        paquete:'',
        cant_clases:0,
        costo:0,
        limite_dias:0,
        deleted:0,
        fecha_creacion:null,
      },

      defaultItem: {
        idpaquetes:0,
        paquete:'',
        cant_clases:0,
        costo:0,
        limite_dias:0,
        deleted:0,
        fecha_creacion:null,
      },

      // tabla
      paquetes: [],

      libres: 0,
      progra:[],

      url: false,

      clase: null,

      fecha: (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),

      dialogQr: false,
      qrImagen: null
    }),

    computed: {
      ...mapGetters('login',['getdatosUsuarioFitHouse']),
      formTitle () {
        return this.editedIndex === -1 ? 'Agregar categoria' : 'Editar categoria'
      },
    },

    watch: {
      dialog (val) {
        val || this.close()
      },
      dialogDelete (val) {
        val || this.closeDelete()
      },

      fecha(){ this.getProgramacionDia() }

    },

    async created () {
      this.url = this.$http.options.root + 'fotos-fithouse/'
      await this.initialize()
    },

    methods: {
      initialize () {
        this.cargar = true
        this.progra = []  

        let payload = {
          dia           : this.fecha,
          idusuarios    : this.getdatosUsuarioFitHouse.idusuarios,
        }     

        return this.$http.post('programacion.dia', payload ).then(response=>{
          this.progra = response.data.filter( el => el.idreservaciones )
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      editItem (item) {
        this.editedIndex = this.paquetes.indexOf(item)
        this.editedItem = Object.assign({}, item)
      },

      close () {
        this.dialog = false
        this.$nextTick(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        })
      },

      formatoMoneda(monto) {
        const formato = new Intl.NumberFormat('es-MX', {
          style: 'currency',
          currency: 'MXN',
        });

        return formato.format(monto);
      },

      openView( pago ){
        window.open( pago.url_pago )
      },

      previaReserva ( clase ) {
        if( this.editedItem.cant_clases_restantes > 0  ){
          this.clase = clase
          this.dialog = true
        }else{
          this.validarErrorDirecto('Tu paquete ya no cuenta con clases disponibles, por favor, selecciona otro paquete o realiza la compra de alguno.')
        }
      },

      previousDay () {
        const siguienteDia = new Date(this.fecha);
        siguienteDia.setDate(siguienteDia.getDate() - 1);
        this.fecha = siguienteDia.toISOString().substr(0, 10);
      },
      
      nextDay () {
        const siguienteDia = new Date(this.fecha);
        siguienteDia.setDate(siguienteDia.getDate() + 1);
        this.fecha = siguienteDia.toISOString().substr(0, 10);
      },

      getProgramacionDia () {
        this.cargar = true
        this.progra = []  

        let payload = {
          dia           : this.fecha,
          idusuarios    : this.getdatosUsuarioFitHouse.idusuarios,
        }     

        return this.$http.post('programacion.dia', payload ).then(response=>{
          this.progra = response.data
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      saveReservacion( ){
        const payload = {
          idpago        : this.editedItem.idpagos,
          idusuarios    : this.getdatosUsuarioFitHouse.idusuarios,
          idprogramacion: this.clase.idprogramacion,
        }

        this.cargar = true
        // Lo mandapos por el EP
        this.$http.post('programacion.reservacion', payload).then(response=>{
          this.editedItem.cant_clases_restantes - 1
          this.initialize()
          this.getProgramacionDia()
          this.dialog = false
          this.validarSuccess('Para ver tu reservación, ve a tu calendario!')
          this.cargar = false
        }).catch( error =>{
          this.validarError( error )
        }).finally( () => { this.cargar = false })
      },

      generarQRCode( clase ) {
		    const qrData = {
	        idusuarios     : this.getdatosUsuarioFitHouse.idusuarios,
	        idreservaciones: clase.idreservaciones,
	        idprogramacion : clase.idprogramacion
	      };

	      const qrString = JSON.stringify(qrData);

	      QRCode.toDataURL(qrString).then(url => {
          // Hacer algo con la URL del código QR, como mostrarla en una imagen
		    	this.dialogQr = true
          this.qrImagen = url
        })
        .catch(err => {
          console.error(err);
        });

		  }
    },
  }
</script>


